/*Popping Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&display=swap');
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --col-text-black:#000;
  --col-text-gray:#222;
  --col-text-light-gray:#918E9B;
  --col-white:#fff;

  --ff-poppins:'Poppins', sans-serif;
  --fw-100:100;
  --fw-300:300;
  --fw-400:400;
  --fw-600:600;

  --fs-100:0.64rem; /*10.24px*/
  --fs-200:0.75rem; /*12px*/
  --fs-300:0.875rem; /*14px*/
  --fs-400:1rem; /*16px*/
  --fs-450:1.3rem;
  --fs-500:2.25rem; /*36px*/


}
*,
*::after,
*::before{
	padding:0;
	margin:0;
	box-sizing:border-box;
}
a{
  text-decoration: none;
  color: inherit;
}
ul{
  margin: 0;
  padding: 0;
}
li{
  list-style-type: none;
}
a:hover,
input:hover,
button:hover,
.logo:hover{
  cursor:pointer;
}
button{
  font-family: inherit;
}
img{
  width: 100%;
}
body{
  font-family: var(--ff-poppins);
  color:var(--col-text-gray);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
#root{
  max-width:550px ;
  width: 100%;
  margin-inline: auto;
  overflow: hidden;
}

/*HEADER*/
.navbar{
  height: 70px;
  padding:1.375rem 1.875rem ;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
} 
.logo{
  max-width: 80px;
}
.main-heading{
  color: var(--col-text-black);
  font-size: 2rem;
  line-height: 1.1;
  margin-bottom: 1rem;
}
.main-text{
  font-size: var(--fs-400);
  margin-bottom: 1rem;
}
.hero-img{
  place-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.hero-text{
  padding:1.375rem 1.875rem ;
}

/*card*/
.cards-container{
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  padding: 1rem;
}
.card-img{

  max-height: 360px;
  height: 100%;
  position: relative;
  border-radius: 9px;
  overflow: hidden;
  margin-bottom: 5px;
}
.card-img img{
  border-radius: 9px;
  overflow: hidden;
}
.card-status{
  position: absolute;
  background-color:var(--col-white);
  top: 10px;
  left: 10px;
  border-radius: 4px;
  font-size: var(--fs-100);
  padding: 3px 6px;
  text-align: center;
  text-transform: uppercase;
  font-weight: var(--fw-600);
}
.card-rating{
  display: flex;
  align-items: baseline;
  margin-bottom: 5px;
}
.star-icon{
  width: 12px;
  height: 12px;
  margin-right: 5px;
}
.dot-icon{
  border-radius: 100%;
  width: 3px;
  height: 3px;
  margin-inline: 3px;
  align-self: center;
}

.fs-small{
  font-size: var(--fs-300);
}
.text-reg{
  font-weight: var(--fw-300);
}
.card-title{
  font-size: var(--fs-400);
  font-weight: var(--fs-400);
  margin-bottom: 5px;
}
.text-gray{
  color: var(--col-text-light-gray);
}
.text-bold{
  font-weight: var(--fw-600);
}
.card-img{
  width: 100%;
  max-height: 410px;
}
.card{
  padding: 1rem;
  width: 100%;
}
@media (min-width:500px){
  .cards-container{
    grid-template-columns: repeat(2, 1fr);
  }
  .hero-img{
    padding: 2rem 4.8125rem;
  }
  .main-heading{
    font-size: var(--fs-500);
  }
  .main-text{
    max-width: 70%;
  }
  .card-img{
    width: 210px;
    max-height: 282px;
    height: 100%;
  }
  .card-title{
    font-size: var(--fs-300);
  }

}
